@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
  margin: 0;
  padding: 0;
  font-family: 'cwTeXYen', sans-serif;
}
body{
  background: #F1F1F1;
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background{
  width: 800px;
  height: 500px;
  background-position: center;
  background-attachment: fixed;
}
p{
  font-family: 標楷體;
  font-size: 40px;
  color: lightskyblue;
  position: absolute;
  top: 100px;
}
result{
  float: right;
  left: 800px;
}
image{
  position: absolute;
  top: 830px;
  left: 700px;
  height: 60px;
  weight: 40px;
}
.btn{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498bd;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  font-size: 25px;
  top: 100px;
  left: 100px;
}
