@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
  font-family: 'cwTeXYen', sans-serif;
}
body{
  background: #F1F1F1;
  height: 100vh;
  width: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  position: absolute;
}
.background{
  width: 2000px;
  height: 675px;
  background-position: center;
  background-attachment: fixed;
}
h1{
  font-size: 44px;
  color: lightskyblue;
  position: absolute;
  top: 40px;
  left: 50px;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 150px;
  left: 10px;
}
.btn{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498bd;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  top: 700px;
  left: 50px;
}
