@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
  font-family: 'cwTeXYen', sans-serif;
}
body{
  background: #F1F1F1;
  height: 100vh;
  width: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  position: absolute;
}
.background{
  width: 800px;
  height: 500px;
  background-position: center;
  background-attachment: fixed;
}
p{
  font-family: 標楷體;
  font-size: 40px;
  color: lightskyblue;
  position: absolute;
  top: 100px;
}
result{
  float: right;
  left: 800px;
}
image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498bd;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  font-size: 25px;
  top: 100px;
  left: 100px;
}
