@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
  margin: 0;
  padding: 0;
  font-family: 'cwTeXYen', sans-serif;
}
body{
  background: #F5F5F5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  font-size: 44px;
  color: lightskyblue;
  position: absolute;
  top:40px;
  left: 150px;
}
.btn1{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498bd;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  top: 420px;
  left: 120px;
}
.allequip{
  width:800px;
  height:300px;
  position: absolute;
  top: 130px;
  font-size: 28px;
  left: 180px;
  color: #9F4D95
}
img{
  position: absolute;
  top: 25px;
  left: 920px;
  width: 600px;
  height: 450px;
  border: 5px solid;
  border-radius: 10px;
  border-color: #a49dab;
}
.btn{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498bd;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  top: 420px;
  left: 350px;
}
