*{
  margin: 0;
  padding: 0;
  font-family:"montserrat", sans-serif;
}
body{
  background: #353b48;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background{
  width: 800px;
  height: 500px;
  background-position: center;
  background-attachment: fixed;
}

p{
  font-family: 標楷體;
  font-size: 40px;
  color: #FFAA33;
  position: absolute;
  top: 150px;
}
p1{
  font-family: 標楷體;
  font-size: 40px;
  color: #FFAA33;
  position: absolute;
  top: 150px;
  left: 200px;
}
