@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
  margin: 0;
  padding: 0;
  font-family: 'cwTeXYen', sans-serif;
}
body{
  background: #F1F1F1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  position: absolute;
  top: 30px;
  left: 130px;
  font-size: 40px;
}
.form{
  font-size: 24px;
  position: absolute;
  left: 130px;
  top: 100px;
}
.btn{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498bd;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  top: 550px;
  left: 130px;
}
.member{
  position: absolute;
  top: 80px;
  left: 540px;
}
