@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
  background:	#F1F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'cwTeXYen', sans-serif;
}
h{
  font-family: 標楷體;
  font-size: 40px;
  color: lightskyblue;
  position: absolute;
  top: 80px;
}
.center-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-box div{
  width: 900px;
  height: 60px;
  background: #6498db;
  overflow: hidden;
  margin: 8px 0;
  color: #313131
  top: auto;
}
.center-box span{
  float: left;
  width: 150px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
}
.center-box p{
  float: left;
  font-size: 24px;
  margin: 0;
  padding:0 6px;
  font-weight: 700;
  line-height: 60px;
}
.m1{
  background: #2ecc71;
}
.m1 span{
  background: #27ae60;
}
.m2{
  background: #f1c40f;
}
.m2 span{
  background: #f39c12;
}
.m3{
  background: #e74c3c;
}
.m3 span{
  background: #c0392b;
}
.btn{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498bd;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  font-size: 25px;
  top: 150px;
  left: 0px;
}
