<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'customerAnalysis.css' %}">
  </head>
  <body>
    <p>客群分析(K-Means)</p>
    <div class="result">
      <p>第一群的消費者與其連絡信箱</p>
      <ul>
      <li>Name:{{ name1 }}<li>
      <li>E-mail:{{ email1 }}</li>
      </u1>
    </div>
    <div class="result">
      <p>第二群的消費者與其連絡信箱</p>
      <ul>
      <li>Name:{{ name2 }}<li>
      <li>E-mail:{{ email2 }}</li>
      </u1>
    </div>
    <div class="result">
      <p>第三群的消費者與其連絡信箱</p>
      <ul>
      <li>Name:{{ name3 }}<li>
      <li>E-mail:{{ email3 }}</li>
      </u1>
    </div>

    <img class="image" src="data:image/png;base64,{{ plot_res }}" />
    <input type= "button" value= "回首頁" class = "btn" onclick="location.href='/'">
  </body>
</html>
