<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'decisionTree.css' %}">
    <title></title>
  </head>
  <body>
  <p>客群分析(決策樹)</p><br>
  <ul>
    <li>No pets, not student, female: {{ pre0 }}</li>
    <li>No pets, not student, male: {{ pre1 }}</li>
    <li>No pets, is student, female: {{ pre2 }}</li>
    <li>No pets, is student, male: {{ pre3 }}</li>
    <li>Has pets, not student, female: {{ pre4 }}</li>
    <li>Has pets, not student, male: {{ pre5 }}</li>
    <li>Has pets, is student, female: {{ pre6 }}</li>
    <li>Has pets, is student, male: {{ pre7 }}</li>
  </ul>
  <input type= "button" value= "回首頁" class = "btn" onclick="location.href='/'">
  </body>
</html>
