<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" href = {% static "main.css" %}>
  </head>
  <body>
    <h1>小公寓發大財</h1>

<form class="box" action="首頁" method="post">
  <img src={% static "小公寓首頁.jpg" %} class= "image" alt= "小公寓首頁">
    <p>一間隱藏於二樓的溫馨咖啡廳<strong>小公寓</strong></p>
    <p>不僅是一間<strong>貓咪餐廳</strong></p>
    <p>更是<strong>友善動物、歡迎寵物</strong>的咖啡館</p>
    <p>讓您悠閒的喝咖啡、吃輕食、看設計</p>
</form>

 <ul class="drop-down-menu">
  <li>
    <a>作業管理</a>
    <ul>
      <li>
        <a onclick="location.href='/production/memeberJoin/'">加入會員</a>
      </li>
      <li>
        <a onclick="location.href='/production/orderSystem/'">點餐</a>
      </li>
      <li>
        <a>查看</a>
        <ul>
          <li>
            <a onclick="location.href='/production/stockCheck/'">存貨</a>
          </li>
          <li>
            <a onclick="location.href='/production/equipmentCheck/'">設備</a>
          </li>
        </ul>
      </li>
      <li>
        <a>進貨</a>
        <ul>
          <li>
            <a onclick="location.href='/production/stockProvide/'">存貨</a>
          </li>
          <li>
            <a onclick="location.href='/production/equipmentProvide/'">設備</a>
          </li>
        </ul>
      </li>
      <li>
      <a onclick="location.href='/production/prediction/'">預測未來銷售</a>
      </li>
    </ul>
  </li>
  <li>
      <a>行銷管理</a>
      <ul>
        <li>
          <a>顧客分析</a>
          <ul>
            <li>
              <a onclick="location.href='/marketing/retentionRate/'">留存率</a>
            </li>
            <li>
              <a onclick="location.href='/marketing/survivalRate/'">存活率</a>
            </li>
          </ul>
        </li>
        <li>
          <a>客群分析</a>
          <ul>
            <li>
              <a onclick="location.href='/marketing/cluster/kmeans/'">K-Means</a>
            </li>
            <li>
              <a onclick="location.href='/marketing/cluster/decisionTree/'">Decision Tree</a>
            </li>
          </ul>
        <li>
          <a onclick="location.href='/marketing/stp/'">STP分析</a>
            </li>
        <li>
          <a onclick="location.href='/marketing/swot/'">SWOT分析</a>
      </li>
          </ul>
        </li>
  <li>
      <a type= "button" onclick="location.href='/members/'">分工</a>
    </li>
  <input type= "button" value= "管理後臺登入" class = "btn" onclick="location.href='/admin'">
  </body>
</html>
