<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" href = {% static "main.css" %}>
  </head>
  <body>
    <h1></h1>
<form class="box" action="首頁" method="post">
  <img src={% static "小公寓首頁.jpg" %} class= "image" alt= "小公寓首頁">
  <input type= "button" value= "分工" class = "btn0" onclick="location.href='/members/'">
  <input type= "button" value= "行銷管理" class = "btn1" onclick="location.href='/marketing/'">
  <input type= "button" value= "作業管理" class = "btn2" onclick="location.href='/production/'">
  <p>一間隱藏於二樓的溫馨咖啡廳<strong>小公寓</strong></p>
  <p>不僅是一間<strong>貓咪餐廳</strong></p>
  <p>更是<strong>友善動物、歡迎寵物</strong>的咖啡館</p>
  <p>讓您悠閒的喝咖啡、吃輕食、看設計</p>
</form>


  </body>
</html>
