{% load crispy_forms_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'memberJoin.css' %}">
    <title></title>
  </head>
  <body>
    <h1>成為小公寓的會員吧!</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="加入會員">
        {{ res }}
    </form>
    <input type= "button" value= "回首頁" class = "btn" onclick="location.href='/'">
  </body>
</html>
