<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'orderSystem.css' %}">
    <title></title>
  </head>
  <body>
  <p><strong>點餐系統</strong></p>
  <form  method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit"  value="確認點餐">
  </form>
  <p>{{time}}</p>



  <img src={% static "order.png" %} alt= "點餐" height= 300px>
  <input type= "button" value= "回首頁" class = "btn" onclick="location.href='/'">
  </body>
</html>
