<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stockCheck.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <title></title>
  </head>
  <body>
  <p><strong>檢查存貨</strong></p>
  <script>
      let allShow = false
      let needShow = false
      let expiredShow = false
      function showCorrespondForm(id){
        showFormId = id+'Form'
        target = document.querySelector('#'+showFormId)
        console.log(target)
        target.style.visibility = eval(id+'Show') ? 'hidden':'visible';
        switch (id) {
          case 'all':
            allShow = !allShow
            break;
          case 'need':
            needShow = !needShow
            break;
          case 'expired':
            expiredShow = !expiredShow
            break;
          default:
          }
        }
  </script>
  <input type= "submit" value= "全部存貨" class = "btn btnClick" id='all' onclick="showCorrespondForm('all')">
  <input type= "submit" value= "所需存貨" class = "btn btnClick" id='need' onclick="showCorrespondForm('need')">
  <input type= "submit" value= "將到期存貨" class = "btn btnClick" id='expired' onclick="showCorrespondForm('expired')">
  <div id='allForm' style="visibility: hidden;margin:0px auto;width:900px;height:100px;border:3px #cccccc dashed;">
    <ul>
      <li>存貨名:{{ inv_all_name }}</li>
      <li>存貨數量:{{ inv_all_num }}</li>
      <li>存貨到期日:{{ inv_all_expired }}</li>
    </ul>
  </div>
  <div id='needForm' style="visibility: hidden;">
    <p>{{ need_inventory }}</p>
  </div>
  <div id='expiredForm' style="visibility: hidden;">
    <form  method="POST">
      {% csrf_token %}
        {{ form.as_p }}
    </form>
    <p>{{ result }}</p>
    12324
  </div>
  <input type= "button" value= "回首頁" class = "btn" onclick="location.href='/'">
  </body>
</html>
