<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stp.css' %}">
    <title></title>
  </head>
  <body>
  <h>STP分析</h>

  <div class="center-box">

    <div class="m1">
      <span>Segement</span>
      <p>年齡、花費金額、養寵物與否、性別、學生與否</p>
    </div>

    <div class="m2">
      <span>Target</span>
      <p>
        {% for each in res %}
        {{ each }}/
        {% endfor %}
      </p>
    </div>

    <div class="m3">
      <span>Position</span>
      <p>安靜、悠閒、小貓咪</p>
    </div>

  </div>

  <input type= "button" value= "回首頁" class = "btn" onclick="location.href='/'">
  </body>
</html>
