<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stp.css' %}">
    <title></title>
  </head>
  <body>
  <h>STP分析</h>

  <div class="m1">
    <span>Segement</span>
    <p>年齡、花費金額、養寵物與否、性別、月份、學生與否</p>
  </div>

  <div class="m2">
    <span>Target</span>
    <p>22歲以下的女學生族群、有養寵物、願意消費200~300元、偏好上學期的時候去坐坐</p>
  </div>

  <div class="m1">
    <span>Position</span>
    <p>安靜、悠閒、小貓咪</p>
  </div>

  </body>
</html>
