<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'survivalRate.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>近半年存活率</h1>
    <div class="list">
      <ul>
      <li>前五期: {{ s1 }}</li>
      <li>前四期: {{ s2 }}</li>
      <li>前三期: {{ s3 }}</li>
      <li>前二期: {{ s4 }}</li>
      <li>前一期: {{ s5 }}</li>
      <li>當期: {{ s6 }}</li>
      </u1>
    </div>

    <img src={% static "貓咪裝死.jpg" %}>
    <input type= "button" value= "回首頁" class = "btn" onclick="location.href='/'">

  </body>
</html>
