<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'survivalRate.css' %}">
  </head>
  <body>
    <h1>近半年存活率</h1>
    <ul>
    <li>第一期: {{ s1 }}</li>
    <li>第二期: {{ s2 }}</li>
    <li>第三期: {{ s3 }}</li>
    <li>第四期: {{ s4 }}</li>
    <li>第五期: {{ s5 }}</li>
    <li>第六期: {{ s6 }}</li>
    </u1>

    </ul>


    <input type= "button" value= "回首頁" class = "btn" onclick="location.href='/'">

  </body>
</html>
